body,html {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 10px 10px;

  margin: 0px;
  padding: 0px;
}

.navbar-brand {
  font-family: Parisienne;
  color:gold !important;
}
.full_page {
/* min-height: 90%; */
/* height: auto; */
width: 100vw;
min-height: 100vh;
  position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
   overflow: auto;
}
.container{
  margin-bottom: 1rem;
  /* margin-bottom: 1rem; */
  min-height: 78%;
}

.footer{
  font-size: xx-large;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%; 
  height: 3rem;
}
.center{
  margin: 0 auto;
}

.footer-links{
  display: inline-flex;
  padding-top: 0.5rem;
}

.login-form {
  width: 340px;
  margin: 50px auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.login-form form {
  margin-bottom: 15px;
  padding: 30px;
}

.login-form h2 {
  margin: 0 0 15px;
  color: whitesmoke;
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}




/* items page and banner  begin */
.top-5 {
  position: relative;
  top: 5px;
}


.top-bottom-20 {
  padding-top: 20px;
  bottom: 20px;
}

.price {
  float: right;
  color: red;
  font-weight: 600;
  text-decoration: underline;
}

.price::before {
  content: "$";
  color: red;
  font-weight: 600;
}

.item-img {
  height: 14rem;
  object-fit: cover;
}

.block-with-text {
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  height: 2.5rem;
  font-size: small;
  padding: 0 0.4rem;
}

.clear_a{
      color: black;
      text-decoration: none;
      background-color: transparent;
      margin: 0px;
      padding: 0px;
      display: contents;
}

/* items page end */




/* for test only */
#root {
  /* background-color: yellow; */
}













/* item product details */

/* .item_detail_column {
  width: 25%;
  padding: 10px;

} */

/* Style the images inside the grid */
.item_detail_column img {
  opacity: 0.8;
  cursor: pointer;
}

.item_detail_column img:hover {
  opacity: 1;
}

#expandedImg{
  width:100%;
  height:400px;
  object-fit: scale-down;
  margin-top: 0.5rem;
    object-fit: cover;
}

.item-detail-thumbnails{
  object-fit: cover;
  height: 10rem;
  width: 20%;
}

.numberCircle {
  border-radius: 50%;
  text-align: center;
}

/* .zoom:hover {
  transform: scale(1.03);
  (150% zoom - Note: if the zoom is too large, it will go outside of the viewport)
  transition: all .2s linear;
} */

.image-drop-shadow {
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

.ml-1 {
  margin-left: 0.25rem !important;
}
.navbar{
  margin-bottom: 5px;
}

.mt-15rem{
  margin-top: 1.5rem;
}

.m-all-05{
  margin: 0.5rem;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.black-1{
  background-color: #505050 !important;
}

/* .black-1:hover{
  background-color:#000000 !important;
} */


.alert{
  top: 4rem;
  max-width: 15rem;
  position: fixed;
  left: 0.5rem;
}

.container{
  margin-bottom: 2.6rem;
}
.nav-item{
  cursor: pointer !important;
}




.cursor-pointer{
  cursor: pointer;
}

.green-background{
  background-color: green;
}

.blue-background{
  background-color: blue;
}

.padding-0{
  padding: 0 !important;
}
.red-background{
  background-color: red;
}


.padding-t-b-1{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

a:hover{
  background-color:inherit;
}




/* workaround to fix ck editor */
span.ck-file-dialog-button {
  display: none;
}
.ck-rounded-corners.ck-editor__editable_inline {
  min-height: 10rem !important;
}


.image-create-product-wrapper-container{
  display: flex !important;
  justify-content: center !important;
  text-align:center;
}
.image-create-product-wrapper{
  margin-right: 0.4rem;
}
.image-create-product{
  border-style: outset;
  width: 100% ;
  height: 7rem;
  /* display: inline; */
  position: relative;
  object-fit: cover;

}
.close-create-product-image {
  position: absolute;
  top: -0.6rem;
  right: 0px;
  
  
  /* z-index: 100; */

}

.clear-padding{
  padding:0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.create-new-item-card{
  max-width: 60%;
    margin: 0 auto;
}


.loading{
  background: url('loader.gif') center no-repeat;
  background-size: cover;

}

.inset-text{
text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
    font-size: xx-large;
}

.shopping-cart-image{
  width: 70px;
  height: 70px;
  object-fit: cover;

}

.hidden{
  visibility: hidden;
}

.carousel img {
  width:100%px;
  height:360px;
  object-fit: cover;
}


.favorite-item-image{
  width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 10rem;
}